.Rproj.user
.Rhistory
.RData
.Ruserdata
/*
/*/
*.log
!/.gitignore
!/.Rbuildignore
!/.gitlab-ci.yml
!/data-raw/
!/DESCRIPTION
!/inst/
!/LICENSE.md
!/man/
!NAMESPACE
!/R/
!/README.md
!/tests/
/.Rhistory
!/*.Rproj
/.Rproj*
/.RData
/.vscode
!/.lintr
inst/doc
!/.github/
!/tic.R
docs/
!/NEWS.md
!/cran-comments.md
